.tips {
  @include adaptiv-value("padding-top", 44, 30, 1);
  @include adaptiv-value("padding-bottom", 44, 30, 1);
  // .tips__container
  &__container {
  }
  // .tips__title
  &__title {
  }
  // .tips__slider
  &__slider {
  }
}
.slider-tips {
  position: relative;
  // .slider-tips__body
  &__body {
    @include adaptiv-value("margin-left", -32, -15, 1);
    @include adaptiv-value("margin-right", -32, -15, 1);
    @include adaptiv-value("padding", 32, 15, 1);
  }
  // .slider-tips__slide
  &__slide {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0 0 32px rgba(97, 97, 97, 0.1);
      }
    }
  }
  // .slider-tips__image
  &__image {
    padding: 0px 0px 251/391 * 100% 0px;
  }
  // .slider-tips__content
  &__content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex: 1 1 auto;
    align-items: flex-start;
  }
  // .slider-tips__title
  &__title {
    flex: 1 1 auto;
    color: inherit;
    font-weight: 600;
    line-height: 120%;
    @include adaptiv-value("font-size", 24, 18, 1);
    transition: all 0.3s ease 0s;
    &:not(:last-child) {
      margin: 0px 0px 8px/24px * 1em 0px;
    }
    @media (any-hover: hover) {
      &:hover {
        color: $orangeColor;
      }
    }
  }
  // .slider-tips__text
  &__text {
    color: $grayColor;
    font-size: 14px;
    line-height: 150%;
  }
  // .slider-tips__dotts
  &__dotts {
    @include adaptiv-value("padding-top", 8, 0, 1);
    justify-content: center;
  }
  // .slider-tips__arrows
  &__arrows {
    pointer-events: none;
    position: absolute;
    top: 47%;
    transform: translate(0px, -50%);
    width: calc(100% - 48px);
    left: 24px;
    z-index: 5;
    justify-content: space-between;
    @media (min-width: $md1+px) {
      width: calc(100% + 48px);
      left: -24px;
    }
    @media (max-width: $md3+px) {
      display: none;
    }
  }
}
.slider-arrow {
  // .slider-arrow_white
  &_white {
  }
  // .slider-arrow_prev
  &_prev {
  }
  // .slider-arrow_next
  &_next {
  }
}
